<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container-fluid">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">WebBanSach</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="NhapKho" asp-action="nhapkho">Nhập kho</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="NhapKho" asp-action="chuanhap">Hàng Chưa nhập</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="NhapKho" asp-action="tongnhap">Tổng hàng nhập</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="TonKho" asp-action="Index">Hàng Tồn kho</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="ThongKe" asp-action="Index">Thống kê</a>
                    </li>
                </ul>
                <ul class="navbar-nav d-flex flex-row-reverse">
                    @{
                        bool nv = true;
                        if (User.Identity.IsAuthenticated)
                        {
                            if (User.IsInRole("KhachHang"))
                            {
                                <li class="nav-item">Khách: @ViewBag.User</li>
                            }
                            else
                            {
                                <li class="nav-item">Nhân viên: @ViewBag.User</li>
                            }
                            if (User.IsInRole("KhachHang"))
                            {
                                nv = false;
                            }
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Đăng xuất</a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" asp-controller="Login" asp-action="ChangePw" asp-route-nv="@nv">Đổi mật khẩu</a>
                                    <a class="dropdown-item" asp-controller="Login" asp-action="Logout">Đăng xuất</a>
                                </div>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Đăng nhập</a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" asp-controller="Login" asp-action="Login" asp-route-nv="false">Người dùng</a>
                                    <a class="dropdown-item" asp-controller="Login" asp-action="Login" asp-route-nv="true">Nhân viên</a>
                                </div>
                            </li>
                        }
                    }
                </ul>
            </div>
        </div>
    </nav>
</header>